@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playwright";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}
